
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@* Get to know Joel page with necessary links, including a linked picture *@

<h2>Get to Know Joel</h2>
<br><br>
<h4>Want to see Joel perform live? Check out Quick Wits Comedy!!!</h4>
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br><br>
<h4>Want to here Joel talk about a variety of topics? Check out BaconSale!!!</h4>
<a href="https://baconsale.com/">Bacon Sale</a>
<br>
<a href="https://baconsale.com/">
    <img src="/img/BaconsaleKate.jpg" alt="BaconSale with Kate" style="height: 400px" >
</a>
